<div class="well">
  <div class="reporta-box">
    <span class="box-icon <%=report.icon_bg %>" >
      <!-- uses FontAwesome -->
      <i class="fa <%=report.fa_icon %>"></i>
    </span>
    <span class="box-info">
      <p class="value"><%= raw report.value %></p>
      <p class="title"><%= raw report.description %></p>
    </span>
  </div>
</div>
<!--
<style>
.reporta-box .box-icon{
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  font-size: 35px;
  line-height: 65px;
}
.reporta-box i.fa{
  line-height: 35px;
  text-align:center;
  color: white;
}

.reporta-box .box-info p{
  margin:0;
}

.reporta-box .box-info .value{
  color: #767676;
  font-size: 30px;
}

.reporta-box .box-info .title{
  color: #999999;
  font-size: 14px;
}
</style>
-->

