<%- report_id = "reporta_chart_#{report.id}" %>
<div id="<%= report_id %>" class="chart"></div>

<script type="text/javascript" charset="utf-8">
  new Reporta.Chart("#<%= report_id %>", <%= raw report.data %>, <%= raw report.options %>);
</script>
