<!DOCTYPE html>
<html>
<head>
  <title>Reporta</title>
  <%= stylesheet_link_tag    "reporta/application", media: "all" %>
  <%= javascript_include_tag "reporta/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
