config/database.yml

.bundle
.sass-cache/
.DS_Store
.*.sw?

# Ignore all logfiles and tempfiles.
/log/*.log
/spec/dummy/log/*.log
/spec/dummy/db/*.sqlite3
/spec/dummy/tmp/*
/tmp

public/assets/**/*
public/uploads/**/
db/migrate/

vendor/bundled

/spec/dummy/tmp/pids/server.pid

Gemfile.lock
